{% extends "layout.html" %}
{% block content %}
<div class="row">
      <div class="col-md-2">
          <p>rastgele makarnalar</p>
          {% for p in random_pastas %}
                <li><a href="/pasta/{{ p.id }}" >{{p.title[:40]}}</a></li>
          {% endfor %}
      </div>
        <div class="col-md-8">
            <h1>{{pasta.title}}</h1>

            <p>👍{{pasta.upvote}} - <a href={{pasta.url}}> kaynak </a> </p>
            <button type="button" class="btn btn-primary" onclick="copyToClipboard('#{{pasta.id}}')">Kopyala</button>
            {% autoescape false %}
            <p id="{{pasta.id}}">{{pasta.text}}</p>
            {% endautoescape %}
        </div>
      <div class="col-md-2"></div>
</div>

{% endblock content %}